apprise==1.8.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
idna==3.7
Markdown==3.6
oauthlib==3.2.2
PyYAML==6.0.1
requests==2.32.4
requests-oauthlib==2.0.0
setuptools==78.1.1
urllib3==2.2.2
wheel==0.43.0